@import '/src/styles/core/core.scss';

.week-banner{
    padding: rem(12px) rem(32px) rem(24px);

    border: 2px solid black;
    border-radius: rem(8px);

    &__title{
        text-align: center;
    }

    &__days{
        margin-top: rem(32px);
        display: flex;
        gap: rem(10px);
        justify-content: center;
    }

    &__day{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(5px);

        &-title{
            font-weight: 500;
        }

        &-status{
            width: rem(30px);
            height: rem(30px);
            background: #D9D9D9;

            &.active{
                background: #0AB95A;
            }
        }
    }

}