.student{
    &-card{
        padding: 12px 16px;

        color: black;

        border-radius: 8px;
        border: 2px solid #32CDFE;

        &__inner{
            display: flex;
            align-items: start;
            gap: 20px;
        }

        &__img{
            flex-shrink: 0;
            width: 70px;
            height: 70px;

            background: gray;
        }

        &__info{

            &-name{
                font-size: 14px;
            }

            &-class{
                font-size: 14px;
                margin-top: 8px;
            }

            &-subjects{
                font-size: 14px;
                margin-top: 8px;
                display: flex;
                gap: 2px;
                flex-wrap: wrap;
            }

            &-subject{
                font-size: 14px;
            }
        }
    }
}